<script type="text/javascript" charset="utf-8">
  console.log("@customizer_config", <%== @customizer_config %>);
  console.log("@customizer_data", <%== @customizer_data %>);
</script>

<div id="product-customizer" data-config='<%== @customizer_config %>' data-data='<%== @customizer_data %>'></div>

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="//necolas.github.io/normalize.css/5.0.0/normalize.css">
<link rel="stylesheet" href="//cdn.linearicons.com/free/1.0.0/icon-font.min.css">
<link rel="stylesheet" href="//cdn.rawgit.com/google/code-prettify/master/styles/sunburst.css">
<script src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>